
#background_index{
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-image: url('../images/fondo.png');
}

#background_index2 {
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-image: url('../images/Background.jpg');
}

#background_simple{
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-image: url('../images/fondo_simple.jpg');

}

#logo{
    display:block;
    max-width: 100px;
    margin: 0 auto;
    width: 90%;
}

}

#boton_inicio{
	margin-left: 25%;
	margin-top: 70%;
}